@charset "utf-8";

html,
body {
  box-sizing: border-box;
  scroll-behavior: auto;
  font-family: Paperlogy, sans-serif;
}

html {
  overflow: hidden;
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  src:
    local("Paperlogy-Bold"),
    local("Paperlogy-Bold"),
    url("fonts/Paperlogy-Bold.woff2") format("woff2"),
    url("fonts/Paperlogy-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 500;
  src:
    local("Paperlogy Regular"),
    local("Paperlogy-Medium"),
    url("fonts/Paperlogy-Medium.woff2") format("woff2"),
    url("fonts/Paperlogy-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 400;
  src:
    local("Paperlogy-Regular"),
    local("Paperlogy-Regular"),
    url("fonts/Paperlogy-Regular.woff2") format("woff2"),
    url("fonts/Paperlogy-Regular.ttf") format("ttf");
}

button {
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
em {
  font-style: normal;
}
html, body {
  line-height: 1.3;
}

h1, span, em, p, button {
  white-space: pre-line;
}

.terms_height {
  height: 358px;
}
.terms_box {
  border-radius: 16px;
  height: 358px;
}

.terms_height::-webkit-scrollbar {
  display: block;
}

.swiper-pagination {
  padding:10px;
}

@media screen and (max-width:1024px) {
  .terms_height {
    height:calc(100dvh - 58px);
  }
  .terms_box {
    height: calc(100dvh - 130px);
  }

}
.paging .swiper-pagination {
  position: relative;
}
.paging_mt15 .swiper-pagination {
  margin-top: 60px; padding:0;
}